name: Deploy API Belliun

on:
  push:
    branches:
      - main # O deploy acontece sempre que você der push na branch main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/belliun-api
            git pull origin main
            npm install
            npx prisma generate
            rm -rf dist
            npm run build
            # Tenta reiniciar. Se o processo não existir, inicia do zero com o caminho correto.
            pm2 start dist/server.js --name belliun-api --update-env || pm2 restart belliun-api --update-env
